@import url("https://fonts.googleapis.com/css?family=Inter:400|Iceland:400|Jacques+Francois:400");

:root {
    --yell: #f4cd00;
    --blu: #476499;
}

body {
    background-color: var(--blu);
    background-size: cover;
    /* min-width: 800px; */
}
/* .desktopscreen {
    overflow:hidden;
    overflow-x: hidden;
} */

.rectangle1 {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 10vw;
    text-align: center;
    min-width: 800px;
    min-height: 150px;
    align-items: center;
    font-size: 75px;
    justify-content: center;
    background: #F4CD00;
    border-radius: 71px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));

}

.mainheader {
    position: absolute;
    display:flex;
    top: 50%; 
    transform: translate(8%,-50%);
    font-size: max(calc(1.5vw * 3), 51.2px);
    min-width: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.rectangle2 {
    position: relative;
    width: 65vw;
    height: 20vw;
    margin: auto;
    top: 100px;
    min-width: 650px;
    min-height: 350px;;
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 67px;
    text-align: center;
}

.choosegame {
    position: absolute;
    display: flex;
    
    transform: translate(43%, 0);
    font-size: max(calc(1.5vw * 3), 45px);
    min-width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.gamebutton {
    position: absolute;
    transform: translate(-50%, 50%);
    width: max(calc(4vw * 3), 175px);
    height: max(calc(4vw * 3), 175px);

    background-color: #000000;
}

.gamebutton:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #417be4;
}

.con4pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1px;
    top: 0px;
    border-radius: 10px;

}

.overlaytext {
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loginbutton {
    position: relative;
    margin: auto;
    width: 20vw;
    height: 6vw;
    top: 30px;
    min-width: 200px;
    min-height: 65px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--yell);
    border-radius: 50px;
}

.loginword {
    position: absolute;
    display: flex;
    top: 50%;

    font-size: max(calc(1.3vw * 3.5),45px);
    transform: translate(36%, -50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.profilebutton{
    position: relative;
    margin: auto;
    width: 20vw;
    height: 6vw;
    top: 60px;
    min-width: 200px;
    min-height: 65px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--yell);
    border-radius: 50px;
}

.profileword {
    position: absolute;
    display: flex;
    top: 50%;

    font-size: max(calc(1.3vw * 3.5),45px);
    transform: translate(25%, -50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #000000;
}


.loginBox {
    float: left;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    /* left: 158px;
    top: 406px; */
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 63.3962px;
    line-height: 154.52%;
    color: #000000;
    text-align: center;
}
.newMemberBox{
    position: relative;
    margin-top: 50px;
    float: right;
    width: 600px;
    height: 500px;
    /* left: 158px;
    top: 406px; */
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 63.3962px;
    line-height: 154.52%;
    color: #000000;
    text-align: center;
    
   
}
.akaBox{
    
    margin: auto;
    width: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 150;
    color: #000000;
    width: 500px;
    height: 200px;
    /* left: 158px;
    top: 406px; */
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 67px;
    text-align: center;
}
.inputUser{
    /* margin:auto; */
    border-radius: 25px;
    position:relative;
    height: 60px;
    width: 300px;
    font-size: 20pt;
    font-family: 'Inter';
    font-style: normal;


}
.inputPassword{
    margin-top: 30px;
    border-radius: 25px;
    /* margin:auto; */
    height: 60px;
    width: 300px;
    font-size: 20pt;
    font-family: 'Inter';
    font-style: normal;

}
.submitButton{
    margin-top: 30px;
    border-radius: 25px;
    /* margin:auto; */
    height: 80px;
    width: 200px;
    font-size: 20pt;
    font-family: 'Inter';
    font-style: normal;


}
.submitButton1{
    margin-top: 120px;
    border-radius: 25px;
    /* margin:auto; */
    height: 80px;
    width: 200px;
    font-size: 20pt;
    font-family: 'Inter';
    font-style: normal;


}
.returnToMain{
    padding: 10px;
    position: relative;
    left: 0px;
    width: 200px;
    height: 100px;
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 20;
    font-size: 30px;
    line-height: 100%;
    color: #000000;
    text-align: center;



}


/* span + span{

    margin-top: 20px;

} */





