@import url("https://fonts.googleapis.com/css?family=Inter:400|Iceland:400|Jacques+Francois:400");

:root {
    --yell: #f4cd00;
    --blu: #476499;
}

body {
    background-color: var(--blu);
    background-size: cover;
}

.rectangle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1394.18px;
    height: 213px;
    background: #F4CD00;
    border-radius: 71.6455px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));
  }
  
 .profileheader {
     position: absolute;
     width: 1200px;
     height: 120px;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 77.8434px;
     line-height: 154.52%;
     color: #000000;
 }
 
 .rectangle2 {
     position: absolute;
     width: 600px;
     height: 200px;
     left: 75px;
     top: 300px;
     background: #F4CD00;
     background-blend-mode: darken;
     mix-blend-mode: normal;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 67px;
 }
 
 .smallerheader {
     position: absolute;
     width: 600px;
     height: 200px;
     left: 55%;
     top: 85%;
     transform: translate(-50%,-50%);
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 154.52%;
     color: #000000;
 }
 
 .rectangle3 {
     position: absolute;
     width: 600px;
     height: 200px;
     left: 75px;
     top: 600px;
     background: #F4CD00;
     background-blend-mode: darken;
     mix-blend-mode: normal;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 67px;
 }
 
 .rectangle4 {
     position: absolute;
     width: 600px;
     height: 200px;
     left: 75px;
     top: 900px;
     background: #F4CD00;
     background-blend-mode: darken;
     mix-blend-mode: normal;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 67px;
 }
 
 .rectangle5 {
     position: absolute;
     width: 600px;
     height: 503px;
     left: 700px;
     top: 300px;
     background: #F4CD00;
     background-blend-mode: darken;
     mix-blend-mode: normal;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 67px;
 }

.rectangle6 {
  position: absolute;
     width: 600px;
     height: 200px;
     left: 700px;
     top: 900px;
     background: #F4CD00;
     background-blend-mode: darken;
     mix-blend-mode: normal;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 67px;
}
 
 .bioheader {
     position: absolute;
     width: 600px;
     height: 150px;
     left: 55%;
     top: 17%;
     transform: translate(-50%,-50%);
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 154.52%;
     color: #000000;
 }

.returnheader {
    position: absolute;
     width: 600px;
     height: 200px;
     left: 68%;
     top: 86%;
     transform: translate(-50%,-50%);
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 154.52%;
     color: #000000;
}