@import url("https://fonts.googleapis.com/css?family=Inter:400|Iceland:400|Jacques+Francois:400");

:root {
    --yell: #f4cd00;
    --blu: #476499;
}

body {
    background-color: var(--blu);
    background-size: cover;
    /* min-width: 800px; */
}
/* .desktopscreen {

    overflow:hidden;
    overflow-x: hidden;

} */

.rectangle1 {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 10vw;
    text-align: center;
    min-width: 800px;
    min-height: 150px;
    align-items: center;
    font-size: 75px;
    justify-content: center;
    background: #F4CD00;
    border-radius: 71px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));

}

.mainheader {
    position: absolute;
    display:flex;
    top: 50%; 
    transform: translate(8%,-50%);
    font-size: max(calc(1.5vw * 3), 51.2px);
    min-width: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.rectangle2 {
    position: relative;
    width: 65vw;
    height: 20vw;
    margin: auto;
    top: 200px;
    min-width: 650px;
    min-height: 350px;;
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 67px;
    text-align: center;
}

.choosegame {
    position: absolute;
    display: flex;
    
    transform: translate(43%, 0);
    font-size: max(calc(1.5vw * 3), 45px);
    min-width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.gamebutton {
    position: absolute;
    transform: translate(-50%, 50%);
    width: max(calc(4vw * 3), 175px);
    height: max(calc(4vw * 3), 175px);

    background-color: #000000;
}

.gamebutton:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #417be4;
}

.con4pic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1px;
    top: 0px;
    border-radius: 10px;

}

.overlaytext {
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* .loginbutton {
    position: absolute;
    width: 376px;
    height: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
} */

.buttonrow {
    position: relative;
    margin: auto;
    width: 20vw;
    height: 6vw;
    top: 100px;
    min-width: 200px;
    min-height: 65px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--yell);
    border-radius: 50px;
}

.rectangle {
    position: relative;
    text-align: center;
    padding: 5px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: var(--yell);
    color: var(--yell);
    border-radius: 50px;
}

.yellow-text {
    color: var(--yell);
    font-family: 'Inter';
}

.loginword {
    position: absolute;
    display: flex;
    top: 50%;

    font-size: max(calc(1.3vw * 3.5),45px);
    transform: translate(36%, -50%);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

