.banner {
    font-size: 80px;
    font-family:verdana;
    color: white;
    text-align: center;
    background-color:maroon;
}

.screen {
    background-color: black;
}

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

a {
    color: purple;
}

.feedback {
    color: white;
    font-family: Verdana;
    font-size: 20px;
}

.footer {
    background-color:dodgerblue;
    font-size: 30px;
    color: white;
}

.footer_text {
    font-family:verdana;
    color: white;
    
}

.akabo_form {
    color: white;
    background-color: green;
}

.move_text {
    color: white;
    font-family:Verdana;
}

.board {
    padding-left: 530px;
    padding-top:100px;
}