@import url("https://fonts.googleapis.com/css?family=Inter:400|Iceland:400|Jacques+Francois:400");

:root {
    --yell: #f4cd00;
    --blu: #476499;
}

body {
    background-color: var(--blu);
    background-size: cover;
    min-width: 800px;
}
.desktopscreen {

    overflow:hidden;
    overflow-x: hidden;

}

.rectangle1 {
    /* align-items: center;
    justify-content: center;
    width: 1394.18px;
    height: 213px; */
    position: relative;
    margin: auto;
    width: 70vw;
    height: 10vw;
    text-align: center;
    min-width: 800px;
    min-height: 150px;
    align-items: center;
    font-size: 75px;
    justify-content: center;
    background: #F4CD00;
    border-radius: 71px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));

}

.mainheader {
    position: absolute;
    display:flex;
    top: 50%; 
    transform: translate(8%,-50%);
    font-size: max(calc(1.5vw * 3), 51.2px);
    min-width: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.rectangle2 {
    position: absolute;
    width: 1121px;
    height: 408px;
    left: 158px;
    top: 406px;
    background: #F4CD00;
    background-blend-mode: darken;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 67px;
}

.choosegame {
    position: absolute;
    width: 700px;
    height: 98px;
    left: 318px;
    top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 63.3962px;
    line-height: 154.52%;
    color: #000000;
}

.gamebutton {
    position: absolute;
    width: 283px;
    height: 241px;
    left: 420px;
    top: 127px;
    background-color: #000000;
}

.gamebutton:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #417be4;
}

.con4pic {
    position: absolute;
    width: 233px;
    height: 241px;
    left: 25px;
    top: 0px;
    border-radius: 10px;

}

.overlaytext {
    color: white;
    font-family: 'Inter';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loginbutton {
    position: absolute;
    width: 376px;
    height: 65px;
    left: 532px;
    top: 292px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
}

.rectangle3 {
    position: absolute;
    width: 376px;
    height: 65px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--yell);
    border-radius: 50px;
}

.loginword {
    position: absolute;
    width: 305px;
    height: 65px;
    left: 35px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 154.52%;
    text-align: center;
    color: #000000;
}

